.about {
  .hero-section {
    display: grid;
    gap: 4.5rem;

    .hero-section-background {
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      inline-size: 100%;
      block-size: min(100%, 39.75rem);

      z-index: -1;

      display: grid;
      grid-template-areas: "image";

      img {
        object-fit: cover;
        inline-size: 100%;
        block-size: min(100%, 39.75rem);

        grid-area: image;
      }

      .overlay {
        background-image: linear-gradient(
          to top,
          var(--color-surface-200),
          transparent
        );
        grid-area: image;
      }
    }

    .writings {
      display: grid;
      gap: 4.5rem;

      padding-block: 9.75rem 8.25rem;
      margin-inline: auto;

      inline-size: min(100%, 61.75rem);

      text-align: center;

      h1 {
        font-size: var(--fz-900);
        line-height: 1;

        span {
          display: inline-block;
          line-height: 0;
          transform: translate(-0.75rem, 2.5rem);
          pointer-events: none;

          svg {
            inline-size: 1.25em;
            block-size: 1.25em;
          }
        }
      }

      p {
        font-size: var(--fz-500);
        font-weight: 500;
        line-height: 1.4;
      }
    }
  }

  .why-choose-us {
    .title {
      padding-block: 5rem 3rem;

      text-align: center;

      h2 {
        font-size: var(--fz-700);
        font-weight: 600;
      }
      span {
        font-size: var(--fz-400);
        font-weight: 400;

        color: var(--color-nuetral-200);
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);

      gap: 1.5rem;

      div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 9;

        grid-row-start: 1;
        grid-row-end: 2;

        .writings {
          position: absolute;
          inset-block-start: 6rem;
          inset-inline-start: 3rem;
          inline-size: min(100%, 24rem);
        }
      }
      div:nth-child(2) {
        grid-column-start: 9;
        grid-column-end: 13;

        grid-row-start: 1;
        grid-row-end: 2;

        .writings {
          position: absolute;
          inset-block-start: 10rem;
          inset-inline-start: 3rem;
          inline-size: min(100%, 20rem);
        }
      }
      div:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 5;

        grid-row-start: 2;
        grid-row-end: 3;

        .writings {
          position: absolute;
          inset-block-start: 2.5rem;
          inset-inline-start: 3rem;
          inline-size: min(100%, 16.75rem);
        }
      }
      div:nth-child(4) {
        grid-column-start: 5;
        grid-column-end: 13;

        grid-row-start: 2;
        grid-row-end: 3;

        .writings {
          position: absolute;
          inset-block-start: 5.75rem;
          inset-inline-start: 3rem;
          inline-size: min(100%, 34.5rem);
        }
      }

      > div {
        display: grid;
        grid-template-areas: "card";

        position: relative;

        img {
          grid-area: card;
        }
        .writings {
          grid-area: card;

          display: flex;
          flex-direction: column;
          gap: 1rem;

          .card-title {
            font-size: var(--fz-600);
            font-weight: 700;
          }
          .card-description {
            font-size: var(--fz-400);
            font-weight: 400;

            color: var(--color-nuetral-100);
          }
        }
      }
    }
  }

  .join-us {
    .title {
      padding-block: 5rem 3rem;

      text-align: center;

      h2 {
        font-size: var(--fz-700);
        font-weight: 600;
      }
      span {
        font-size: var(--fz-400);
        font-weight: 400;

        color: var(--color-nuetral-200);
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        background-color: var(--color-nuetral-700);

        padding: 3rem 2rem 2rem 2rem;

        border-radius: var(--border-radius-400);

        .icon {
          svg {
            font-size: var(--fz-900);

            color: var(--color-shade-100);
          }

          position: relative;

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            inline-size: 150%;
            aspect-ratio: 1 / 1;

            border-radius: 999rem;

            background-image: radial-gradient(
              transparent,
              transparent,
              var(--color-shade-100)
            );

            transform: translate(-16%, -16%);
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            inline-size: 200%;
            aspect-ratio: 1 / 1;

            border-radius: 999rem;

            background-image: radial-gradient(
              transparent,
              transparent,
              var(--color-shade-100)
            );

            transform: translate(-25%, -25%);
          }
        }

        span {
          font-size: var(--fz-600);
          font-weight: 500;
        }
      }
    }
  }

  .experience-section {
    display: grid;
    gap: 3rem;

    padding-block: 6.5rem 7.5rem;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .writings {
        font-size: var(--fz-500);
        line-height: 1.5;
      }

      &:nth-child(1) {
        .writings {
          display: grid;
          gap: 1.5rem;

          inline-size: min(100%, 36rem);

          h4 {
            font-size: var(--fz-700);
            font-weight: 700;
          }

          ol {
            padding-inline-start: 1.25rem;
          }
        }
      }

      &:nth-child(2) {
        flex-direction: row-reverse;

        .writings {
          inline-size: min(100%, 37.5rem);
          ol {
            padding-inline-start: 1.25rem;
          }
        }
      }
    }
  }

  .map {
    margin-block: 3rem 5.5rem;

    cursor: pointer;
  }
}
