.social-media {
  display: grid;
  place-content: center;

  block-size: 2.5rem;
  aspect-ratio: 1 / 1;

  border-radius: 999rem;

  color: var(--color-text-dark-100);

  background-color: inherit;

  svg {
    font-size: var(--fz-600);
    font-weight: 700;
  }
}
