.sidebar {
  min-inline-size: 15rem;
  inline-size: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;

  padding: 1rem;
  .sidebar-header {
    inline-size: 100%;
    text-align: center;

    span {
      position: absolute;
      inset-block-start: 1.5rem;
      inset-inline-start: 1rem;

      svg {
        font-size: 1.5rem;
      }
    }
    .logo {
      font-family: "Lobster", cursive;

      color: var(--color-primary-500);

      font-size: var(--fz-700);
      font-weight: 700;

      transition: var(--transition);

      inline-size: 100%;

      text-align: center;

      &:hover {
        color: var(--color-text-100);

        transform: translateY(-2px);

        transition: var(--transition);
      }
    }
  }

  > nav {
    border-block-start: 1px solid var(--color-nuetral-500);

    inline-size: 100%;

    padding-block: 1rem;

    > ul {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      inline-size: 100%;
      > li {
        a {
          display: flex;
          gap: 0.5rem;

          padding: 1rem 0.5rem;

          border-inline-start: 2px solid transparent;

          transition: var(--transition);

          &.active,
          &:hover {
            color: var(--color-primary-500);

            border-inline-start: 2px solid var(--color-primary-500);

            background: linear-gradient(
              to right,
              hsl(from var(--color-shade-300) h s l / 0.5),
              transparent
            );
          }

          svg {
            font-size: var(--fz-500);
          }
        }
      }
    }
  }
}
