.textarea-wrapper {
  display: grid;
  gap: 0.5rem;

  .textarea {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    inline-size: 100%;

    background-color: var(--color-nuetral-700);
    padding: 1rem 1.25rem;

    border-radius: var(--border-radius-200);
    border: 1px solid transparent;
    position: relative;

    transition: var(--transition);

    &:hover,
    &:focus-within {
      border-color: var(--color-primary-500);

      label {
        color: var(--color-primary-500);
      }

      textarea {
        color: var(--color-primary-500);
        caret-color: var(--color-primary-500);
      }

      > svg {
        color: var(--color-primary-500);
      }
    }

    > svg {
      font-size: var(--fz-600);
    }

    textarea {
      background-color: transparent;
      border: none;
      outline: none;
      resize: vertical;
      min-block-size: 3em;
      max-block-size: 5em;

      font-size: var(--fz-500);
      color: var(--color-nuetral-100);
      caret-color: var(--color-nuetral-100);

      flex-grow: 1;
    }

    label {
      font-size: var(--fz-300);
      color: var(--color-nuetral-200);

      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 1.25rem;

      transform: translateY(-50%);
      padding-inline: 0.25rem;

      background: linear-gradient(
        to bottom,
        var(--color-surface-200) 50%,
        var(--color-nuetral-700) 50%
      );
    }

    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      -webkit-box-shadow: none;
      -webkit-text-fill-color: inherit !important;
    }
  }
  .textarea:has(textarea:user-invalid) {
    border-color: var(--color-danger-600);

    label,
    > svg {
      color: var(--color-danger-600);
    }
  }
  .error {
    display: none;
    color: var(--color-danger-600);
  }

  .textarea:has(textarea:user-invalid) + .error {
    display: block;
  }
}
