.cards-section {
  margin-block-start: 6rem;

  .title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    border-block-end: 1px solid var(--color-nuetral-700);

    padding-block-end: 1rem;

    margin-block-end: 2rem;

    h2 {
      font-size: var(--fz-600);
    }

    a {
      transition: var(--transition);

      &:hover {
        color: var(--color-primary-500);
      }
    }
  }
  > ul {
    display: grid;
    gap: 1.5rem;

    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
