:root {
  --color-primary-100: hsl(284, 51%, 93%);
  --color-primary-200: hsl(281, 88%, 91%);
  --color-primary-300: hsl(284, 84%, 83%);
  --color-primary-400: hsl(285, 81%, 73%);
  --color-primary-500: hsl(285, 75%, 61%);
  --color-primary-600: hsl(286, 62%, 49%);

  --color-danger-100: hsl(0, 51%, 93%);
  --color-danger-200: hsl(0, 88%, 91%);
  --color-danger-300: hsl(0, 84%, 83%);
  --color-danger-400: hsl(0, 81%, 73%);
  --color-danger-500: hsl(0, 75%, 61%);
  --color-danger-600: hsl(0, 62%, 49%);

  --color-success-100: hsl(140, 51%, 93%);
  --color-success-200: hsl(140, 88%, 91%);
  --color-success-300: hsl(140, 84%, 83%);
  --color-success-400: hsl(140, 81%, 73%);
  --color-success-500: hsl(140, 75%, 61%);
  --color-success-600: hsl(140, 62%, 49%);

  --color-nuetral-100: hsl(0, 0%, 70%);
  --color-nuetral-200: hsl(0, 0%, 60%);
  --color-nuetral-300: hsl(0, 0%, 27%);
  --color-nuetral-400: hsl(0, 0%, 21%);
  --color-nuetral-500: hsl(0, 0%, 19%);
  --color-nuetral-600: hsl(0, 0%, 14%);
  --color-nuetral-700: hsl(0, 0%, 12%);
  --color-nuetral-800: hsl(0, 0%, 11%);
  --color-nuetral-900: hsl(0, 0%, 10%);
  --color-nuetral-1000: hsl(0, 0%, 7%);

  --color-shade-100: hsl(288, 65%, 32%);
  --color-shade-200: hsl(287, 65%, 24%);
  --color-shade-300: hsl(288, 66%, 16%);
  --color-shade-400: hsl(288, 65%, 12%);
  --color-shade-500: hsl(287, 66%, 8%);
  --color-shade-600: hsl(286, 62%, 4%);

  --color-surface-100: hsl(0, 0%, 10%);
  --color-surface-200: hsl(0, 0%, 5%);

  --color-surface-light-100: hsl(0, 0%, 100%);
  --color-surface-light-200: hsl(0, 0%, 95%);

  --color-text-100: hsl(0, 0%, 100%);
  --color-text-200: hsl(0, 0%, 97%);

  --color-text-dark-100: var(--color-surface-100);
  --color-text-dark-200: var(--color-surface-200);

  --color-border-100: hsl(0 0% 100% / 10%);
  --color-border-200: hsl(0 0% 100% / 20%);
  --color-border-300: hsl(0 0% 100% / 30%);
  --color-border-400: hsl(0 0% 100% / 40%);
  --color-border-500: hsl(0 0% 100% / 50%);
}
