.home {
  > img {
    position: absolute;

    inset-block-start: 0;
    inset-inline-start: 0;

    block-size: auto;
    inline-size: 100%;

    z-index: -1;
  }

  .hero-section {
    display: grid;
    gap: 4.5rem;

    .hero-section-background {
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      inline-size: 100%;
      block-size: min(100%, 52.5rem);

      z-index: -2;

      display: grid;

      img {
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;

        grid-row: 1 / -1;
        grid-column: 1 / -1;
      }

      .overlay {
        background-image: linear-gradient(
          to top,
          var(--color-surface-200),
          transparent
        );
        grid-row: 1 / -1;
        grid-column: 1 / -1;

        inline-size: 100%;
        block-size: auto;
      }
    }

    .writings {
      display: grid;
      gap: 4.5rem;

      padding-block: 9.75rem 8.25rem;
      margin-inline: auto;

      inline-size: min(100%, 46.5rem);

      text-align: center;

      h1 {
        font-size: var(--fz-1000);
        line-height: 1;

        span {
          color: var(--color-primary-400);
        }
      }

      p {
        font-size: var(--fz-500);
        font-weight: 500;
        line-height: 1.4;
      }
    }
  }

  .value-proposition-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    margin-block-end: 16rem;

    font-size: var(--fz-400);

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      color: var(--color-nuetral-200);

      svg {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .home {
    grid-template-columns: 1fr;
  }
}
