.reset-password {
  min-block-size: 100vh;
  min-block-size: 100dvh;

  display: grid;
  place-content: center;
  gap: 6rem;

  inline-size: min(100%, 26.5rem);

  margin-inline: auto;

  .writings {
    display: grid;
    gap: 0.75rem;

    text-align: center;
    .logo {
      font-family: "Lobster", cursive;

      color: var(--color-text-100);

      font-size: var(--fz-700);
      font-weight: 700;

      transition: var(--transition);

      &:hover {
        color: var(--color-primary-500);

        transform: translateY(-2px);

        transition: var(--transition);
      }
    }

    h1 {
      font-size: var(--fz-600);
      font-weight: 500;

      color: var(--color-nuetral-100);

      margin-block-start: 1rem;
    }

    span {
      color: var(--color-nuetral-100);
    }
  }

  form {
    display: grid;

    gap: 1.5rem;

    > button {
      font-size: var(--fz-400);
    }

    .create-account {
      text-align: center;
      color: var(--color-nuetral-200);

      a {
        color: var(--color-primary-400);
      }
    }
  }
}
