.footer {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2.5rem;

    margin-block: 4rem 1rem;

    inline-size: min(76.5rem, 100% - 2rem);

    margin-inline: auto;

    text-align: center;

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;

      .logo {
        font-family: "Lobster", cursive;

        color: var(--color-primary-400);

        font-size: var(--fz-800);
        font-weight: 700;

        transition: var(--transition);

        &:hover,
        &:hover + svg {
          color: var(--color-text-100);

          transform: translateY(-2px);

          transition: var(--transition);
        }
      }

      svg {
        font-size: var(--fz-700);

        color: var(--color-primary-400);

        transition: var(--transition);
      }
    }

    nav {
      > ul {
        display: flex;
        justify-content: center;
        gap: 2rem;

        > li {
          a {
            position: relative;

            color: var(--color-nuetral-200);

            &:hover {
              color: var(--color-text-100);
            }
          }
        }
      }
    }

    > div:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      a {
        border-radius: 999rem;

        background-color: var(--color-surface-light-100);

        transition: var(--transition);

        &:hover {
          transform: translateY(-2px);

          transition: var(--transition);

          background-color: var(--color-primary-400);

          svg {
            color: var(--color-text-100);
          }
        }
      }
    }

    span {
      padding-block: 2rem;

      border-block-start: 1px solid var(--color-border-200);
    }
  }
}

@media (min-width: 1000px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}
