.join-us-section {
  .title {
    padding-block: 5rem 3rem;

    text-align: center;

    h2 {
      font-size: var(--fz-700);
      font-weight: 600;
    }
    span {
      font-size: var(--fz-400);
      font-weight: 400;

      color: var(--color-nuetral-200);
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      background-color: var(--color-nuetral-700);

      padding: 3rem 2rem 2rem 2rem;

      border-radius: var(--border-radius-400);

      .icon {
        svg {
          font-size: var(--fz-900);

          color: var(--color-shade-100);
        }

        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          inline-size: 150%;
          aspect-ratio: 1 / 1;

          border-radius: 999rem;

          background-image: radial-gradient(
            transparent,
            transparent,
            var(--color-shade-100)
          );

          transform: translate(-16%, -16%);
        }
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          inline-size: 200%;
          aspect-ratio: 1 / 1;

          border-radius: 999rem;

          background-image: radial-gradient(
            transparent,
            transparent,
            var(--color-shade-100)
          );

          transform: translate(-25%, -25%);
        }
      }

      span {
        font-size: var(--fz-600);
        font-weight: 500;
      }
    }
  }
}
