.gallery-section {
  margin-block: 6rem;

  .title-section {
    text-align: center;

    margin-block-end: 3rem;

    display: grid;
    gap: 1rem;

    h2 {
      font-size: var(--fz-700);
    }
    span {
      color: var(--color-nuetral-200);
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    overflow: hidden;

    margin-inline: auto;
  }
}
